VENV_PATH=../.venv
ROOT_PASSWORD=1234567890

API_URL=http://localhost:3000/wizard-api
API_KEY=eyJhbGciOiJSUzI1NiJ9.eyJleHAiOjM0ODE4MDQ4MDAsInRlbmFudFV1aWQiOiIwMDAwMDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwMDAwMDAwMDAiLCJ0b2tlblV1aWQiOiI3MTUxYjQwZi05NmFmLTQ4MjQtOTJiMi0xZWJkNmFmYWM4NDQiLCJ1c2VyVXVpZCI6ImVjNmY4ZTkwLTJhOTEtNDllYy1hYTNmLTllYWIyMjY3ZmM2NiIsInZlcnNpb24iOjR9.HysexHnp6nBypWpqdzWhe2-VjQFv6TCR-MbtbF0BmwiOjg_6LaDlM0_pkjsh3fwNbPqhS_fDROwTQnNXX5L6duUjxGD4nxpfPtg0TpbkJAE2llmM_cmbAzOv26NCCtUGtSwoxce9R2G7NbO033UEKSf79LXW61YL3p9A8RFUokAaqAZC6G9mMWbhREVRQYSipopSpklJv18n_gggffcd8I6j3xu-kT8uVwLsO2X_j5DrInDQ8jLsvxMSlOzjZgKbV26pnTC_GVwYRs6Q1OaSTDkCDVr6uj-eHjgcN2U-Pzk5MiO-HlK6o6MiAXieQlHB94OYgQWg3VQ1g40ztNB5s6KgQ8XBq-NYj9_sHuSbwvT64WulEqkmTSRNemomZvP_2hpRbmKzWxPdhkxceCbnFrnqhOib5YyUUW-uO1UEUuJdZuaaVLqOZDFid9QYCwWRPGIQ9IeuMGFWOvHPcshk0f6g4Mfa8c2syfvhVpqbuj52L4KYiJFf9EwsshBD_-6bqLitE54AEW8ENf9ybwDlCHcDtbKt4Ksj7AhgYxMIHleOkuFMxGFngC_EvpphSqh-x3biVxlN86EVP0OqAEWOpEC6xh5eE87TpEBIFlo2E2YgWCVKE_zaDoM3sO9xBnZ-f9YzCuILmym40-8nx3gkQG4iA3vcUmp8ZUCVntQB61E

TEMPLATE_ID=myorg:zh_tw_eu:1.0.0
TEMPLATE_DIR="./${TEMPLATE_ID}"